PORT=4000
HOST=0.0.0.0
NODE_ENV=development
JWT_SECRET=tu_clave_secreta_jwt

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=proyecciones_uptll

API_URL=http://0.0.0.0:8000/api/v1
API_USER=usuario_saga
API_PASSWORD=password_saga
